---
import CloseSquareSvg from "@components/Svg/CloseSquareSvg.astro";
---

<div class="sideBarSubMenu__content">
    <div class="sideBarSubMenu__close">
        <button id="idCloseButtonSideBarSubMenu">
            <CloseSquareSvg />
        </button>
    </div>
    <ul class="sideBarSubMenu__items">
        <li>
            <a href="/project-documentation/">
                Home
            </a>
        </li>
        <li>
            <a href="/project-documentation/DATA_STREET">
                Data Street
            </a>
        </li>
        <li>
            <a href="/project-documentation/DOCKER_STACK">
                Docker Stack
            </a>
        </li>
    </ul>
</div>
