---
// Puedes recibir props si quieres que sea reutilizable
const { svgPath = "/project-documentation/assets/burguer.svg" } = Astro.props;
---

<div class="inline-block">
    <img
        src={svgPath}
        alt="Burguer menu"
        class="burguer"
    />
</div>
