---
const { svgPath = "/project-documentation/assets/github.svg" } = Astro.props;
---

<div class="inline-block">
    <img
        src={svgPath}
        alt="Github"
        class="github"
    />
</div>