---
const { svgPath = "/project-documentation/assets/linkedin.svg" } = Astro.props;
---

<div class="inline-block">
    <img
        src={svgPath}
        alt="Linkedin"
        class="linkedin"
    />
</div>