/*
 *
 * Main template styles
 * Grid
 *
 */
.mainLayout__content{
    @apply
    grid
    custom-grid-layout
    bg-neutral-900
}

.mainLayout__content-opacity{
    @apply
    inset-0
    z-20
    bg-black
    opacity-75
}

.desktopMainBarMenuLayout__content{
    @apply
    custom-grid-header
    h-fit
}

.desktopSideBarMenuLayout__content{
    @apply
    custom-grid-sidebar
    bg-blue-200
}

.mobileSideBarMenuLayout__content{
    @apply
    h-full
    fixed
    z-10
    top-0
    right-0
    bg-neutral-800
    overflow-x-hidden
    pt-2
    pb-2
    transition-all
    duration-300
    ease-in-out
    flex
    flex-col
    text-neutral-200
}

.mobileSideBarMenuLayout__content-open{
    @apply
    w-72
    pl-2
    pr-2
}

.mobileSideBarMenuLayout__content-close{
    @apply
    w-0
    pl-0
    pr-0
}

.articleLayout__content{
    @apply
    /* sm */
    custom-grid-main
    w-full
    flex
    flex-row
    justify-center
    bg-violet-300
}

.asideLayout__content{
    @apply
    custom-grid-aside
    bg-green-200
}

.footerLayout__content{
    @apply
    custom-grid-footer
    bg-red-200
}

/*
 *
 * Article content styles
 *
 */
 
.article__content{
    @apply
    /* sm */
    w-full
    pl-1
    pr-4
    max-w-screen-md
    mx-auto
    /* lg */
    lg:pl-0
    lg:pr-0
    lg:w-9/12
}

/*
 *
 * Heading styles
 *
 */
.article__content h1,
.article__content h2,
.article__content h3 {
    @apply
    text-zinc-700
}

.article__content h1{
    @apply
    text-4xl
    font-bold
    border-b
    pb-3
    border-b-zinc-300
}

.article__content h2{
    @apply
    text-3xl
    font-semibold
    mt-14
    border-b
    pb-3
    border-b-zinc-300
    mb-4
}

.article__content h3{
    @apply
    text-2xl
    font-medium
}

/*
 *
 * Hero image styles
 *
 */
.article__content p:has(> img):has(+ h1){
    @apply
    /* sm */
    pt-1
    pb-8
}

/*
 *
 * Article content and text
 *
 */
.article__content p:not(:has(img)),
.article__content p:has(> strong),
.article__content p:has(> code) {
    @apply
    mt-5
}

/*
 *
 * Article links - menu
 *
 */
.article__content p:has(> a):not(:has(+ h1)){
    @apply
    mt-5
    flex
    flex-col
}

.article__content > p:not(:has(+ h1)) > a{
    @apply
    mt-2
    text-sky-700
    underline
    underline-offset-4
}

/*
 *
 * Article links - breadcrumbs
 *
 */
.article__content p:has(> a):has(+ h1){
    @apply
    mb-7
    flex
    flex-row
    text-sm
    text-rose-600
}

.article__content p:has(> a):has(+ h1) > a{
    @apply
    underline
    underline-offset-4
}

/*
 *
 * Article images
 *
 */
.article__content p:has(img):has(+ h2),
.article__content p:has(img):has(+ h3){
    @apply
    /* sm */
    flex
    flex-row
    justify-center
    mt-10
}

.article_images {
    @apply
    /* sm */
    mt-10
    mb-10
    flex
    flex-row
    justify-center
}

/*
 *
 * Article code element
 *
 */
.article__content p:has(> code) > code {
    @apply
    bg-slate-200
    p-1
    rounded-sm
}

/*
 *
 * Article code element
 *
 */
.article__content strong{
    @apply
    text-pink-600
}

/*
 *
 * Article pre element
 *
 */
.article__content pre{
    @apply
    /* sm */
    block
    whitespace-pre
    mt-5
    p-4
    rounded-md
    text-xs
    w-full
    overflow-x-auto
    /* md */
    md:text-base
}