/*
 *
 * LANDING PAGE LAYOUT
 *
 * @description
 * all styles for layout template
 *
 *
 */

.mainLayout__content{
    @apply
    bg-neutral-900
}

.mainLayout__content-opacity{
    @apply
    inset-0
}

.mobileSideBarSubMenuLayout__content{
    @apply
    h-full
    fixed
    z-10
    top-0
    left-0
    bg-neutral-800
    overflow-x-hidden
    pt-2
    pb-2
    transition-all
    duration-300
    ease-in-out
    flex
    flex-col
    text-neutral-200
}

.mobileSideBarSubMenuLayout__content-open{
    @apply
    w-72
    pl-2
    pr-2
}

.mobileSideBarSubMenuLayout__content-close{
    @apply
    w-0
    pl-0
    pr-0
}

.mobileSideBarMenuLayout__content{
    @apply
    h-full
    fixed
    z-10
    top-0
    right-0
    bg-neutral-800
    overflow-x-hidden
    pt-2
    pb-2
    transition-all
    duration-300
    ease-in-out
    flex
    flex-col
    text-neutral-200
}

.mobileSideBarMenuLayout__content-open{
    @apply
    w-72
    pl-2
    pr-2
}

.mobileSideBarMenuLayout__content-close{
    @apply
    w-0
    pl-0
    pr-0
}

.desktopMainBarMenuLayout__content{
    @apply
    w-full
    pt-5
    pb-5
}

.desktopMainSectionLayout__content{
    @apply
    flex
    flex-row
    w-full
    relative
}

.desktopSideBarSubMenuLayout_content{
    @apply
    hidden
    lg:flex
    lg:flex-col
    lg:w-56
    lg:sticky
    lg:top-5
    lg:h-screen
}

.asideLayout__content{
    @apply
    hidden
    xl:flex
    xl:flex-row
    xl:justify-center
    xl:w-56
    xl:sticky
    xl:top-5
    xl:h-screen
}

.footerLayout__content{
    @apply
    bg-red-200
}

/*
 *
 * ARTICLE CONTENT LAYOUT
 *
 * @description
 * all styles for article in markdown
 *
 *
 */

.articleLayout__content{
    @apply
    flex
    flex-row
    w-full
    justify-center
    text-white
}

/* Article content styles */

.article__content{
    @apply
    w-full
    pr-4
    pl-4
    lg:pl-3
    lg:pr-3
}

/* Heading styles */

.article__content h1,
.article__content h2,
.article__content h3 {
    @apply
    text-zinc-100
}

.article__content h1{
    @apply
    text-4xl
    font-bold
    border-b
    pb-3
    border-b-zinc-300
}

.article__content h2{
    @apply
    text-3xl
    font-semibold
    mt-14
    border-b
    pb-3
    border-b-zinc-300
    mb-4
}

.article__content h3{
    @apply
    text-2xl
    font-medium
}

/* Hero image styles */

.article__content p:has(> img):has(+ h1){
    @apply
    pt-1
    pb-8
}

/* Article content and text */

.article__content p:not(:has(img)),
.article__content p:has(> strong),
.article__content p:has(> code) {
    @apply
    mt-5
}

/* Article links - menu */

.article__content p:has(> a):not(:has(+ h1)){
    @apply
    mt-5
    flex
    flex-col
}

.article__content > p:not(:has(+ h1)) > a{
    @apply
    mt-2
    text-blue-400
    underline
    underline-offset-4
}

/* Article links - breadcrumbs */

.article__content p:has(> a):has(+ h1){
    @apply
    mb-7
    flex
    flex-row
    text-blue-400
}

.article__content p:has(> a):has(+ h1) > a{
    @apply
    underline
    underline-offset-4
}

/* Article images */

.article__content p:has(img):has(+ h2),
.article__content p:has(img):has(+ h3){
    @apply
    flex
    flex-row
    justify-center
    mt-10
}

.article_images {
    @apply
    mt-10
    mb-10
    flex
    flex-row
    justify-center
}

/* Article code element */

.article__content p:has(> code) > code {
    @apply
    bg-neutral-700
    p-1
    rounded-sm
}

/* Article code element */

.article__content strong{
    @apply
    text-pink-400
}

/* Article pre element */

.article__content pre{
    @apply
    block
    whitespace-pre
    mt-5
    p-4
    rounded-md
    text-xs
    w-full
    overflow-x-auto
    md:text-base
}