---
import BurguerSvg from "@components/BurguerSvg.astro";
---

<div class="desktopSideBarMenu__content">
    <div 
        class="desktopSideBarMenuItems__content"
        id="idDesktopSideBarMenuItemsContent"
    >
        <div>
            <a href="/project-documentation/">Projects</a>
        </div>
        <ul>
            <li class="desktopSideBarMenu__item">
                <a href="/project-documentation/DATA_STREET">💻 Data Street</a>
            </li>
            <li class="desktopSideBarMenu__item">
                <a href="/project-documentation/DOCKER_STACK">💻 Docker Stack</a>
            </li>
        </ul>
    </div>
    <div class="desktopSideBarMenu__burguer">
        <button id="">
            <BurguerSvg />
        </button>
    </div>
</div>
