---
import CloseSquareSvg from "@components/CloseSquareSvg.astro"
---

<div class="mobileSideBarMenu__content">
    <div class="mobileSideBarMenu__close">
        <button id="idCloseButtonMobileSideBarMenu">
            <CloseSquareSvg />
        </button>
    </div>
    <ul class="mobileSideBarMenu__items">
        <li>
            <a href="/project-documentation/">
                All Projects
            </a>
        </li>
        <li>
            <a href="/project-documentation/DATA_STREET">
                Data Street
            </a>
        </li>
        <li>
            <a href="/project-documentation/DOCKER_STACK">
                Docker Stack
            </a>
        </li>
    </ul>
</div>