.desktopMainBarMenu__content{
    @apply
    flex
    flex-row
    justify-between
    items-center
    w-full
    text-white
}

.desktopMainBarMenu__component{
    @apply
    flex
    flex-row
    justify-center
    items-center
}

.desktopMainBarMenu__mobileSideSubMenuBar{
    @apply
    flex
    flex-row
    justify-center
    items-center
    pl-4
    lg:hidden
}

.desktopMainBarMenu__mobileSideSubMenuBar > button{
    @apply
    flex
    flex-row
    justify-center
    items-center
    mr-7
    w-6
    h-6
}

.desktopMainBarMenu__mobileSideSubMenuBar-disabled{
    @apply
    opacity-20
}

.desktopMainBarMenu__logo{
    @apply
    hidden
    w-44
    md:flex
    md:flex-row
    md:justify-center
    md:items-center
}

.desktopMainBarMenu__logo > strong{
    @apply
    pr-2
    pl-2
    flex
    flex-row
    justify-center
    items-center
    w-full
    font-normal
    text-white
}

.desktopMainBarMenu__logo > strong > a{
    @apply
    bg-violet-700
    hover:bg-violet-600
    rounded-md
    w-full
    text-center
    pt-1
    pb-1
}

.desktopMainBarMenu__projects{
    @apply
    ml-3
    hidden
    md:flex
}

.desktopMainBarMenu__projects > a{
    @apply
    hover:text-violet-400
    transition
    duration-200
    ease-in-out
}

.desktopMainBarMenu__items{
    @apply
    hidden
    ml-7
    md:flex
    md:flex-row
}

.desktopMainBarMenu__items > li{
    @apply
    mr-7
    hover:text-violet-400
    transition
    duration-200
    ease-in-out
}

.desktopMainBarMenu__socialAndMobileSideBarMenu{
    @apply
    flex
    flex-row
    items-center
    justify-center
    pr-4
    lg:pr-7
}

.desktopMainBarMenu__socialAndMobileSideBarMenu > li{
    @apply
    hidden
    lg:flex
    lg:items-center
    lg:justify-center
    ml-4
}

.desktopMainBarMenu__socialAndMobileSideBarMenu > li > a{
    @apply
    flex
    items-center
    justify-center
}

.github{
    @apply
    w-8
    h-8
    hover:bg-violet-800
    transition-all
    duration-200
    ease-in-out
}

.linkedin{
    @apply
    w-8
    h-8
    hover:bg-violet-800
    transition-all
    duration-200
    ease-in-out
}

.burguerButtonMainBarMenu{
    @apply
    bg-white
    rounded-sm
    flex
    items-center
    justify-center
    ml-7
    lg:hidden
}

.burguerButtonMainBarMenu-disabled{
    @apply
    opacity-20
}