---
import SideNavigation from "../components/SideNavigation.astro";
import "../styles/tailwind.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Project Documentation</title>
    </head>
    <body class="mainLayout_content">
        <nav>
            <SideNavigation />
        </nav>
        <article class="articleLayout_content">
            <div class="article_content">
                <slot />
            </div>
        </article>
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>

<script>
    import { application } from "../scripts/main";
    application();
</script>
